<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
<head>
    <meta charset="UTF-8">
    <title>Gnome Tracker</title>
    <!-- jQuery  -->
    <script src="{% static 'tracker/bower_components/jquery/dist/jquery.min.js' %}"></script>
    <!-- BootStrap -->
    <link href="{% static 'tracker/bower_components/bootstrap/dist/css/bootstrap.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'tracker/bower_components/bootstrap/dist/css/bootstrap-theme.min.css' %}" rel="stylesheet"/>
    <script src="{% static 'tracker/bower_components/bootstrap/dist/js/bootstrap.min.js' %}"></script>
    <!-- Custom -->
    <script src="{% static 'tracker/js/main.js' %}"></script>
    <link href="{% static 'tracker/stylesheets/main.css' %}" rel="stylesheet" type="text/css"/>

</head>
<body>

<div class="container">

    <div class="page-header">
        <table>
            <tr>
                <td><img src="{% static "tracker/images/gnome_head_logo.png" %}" alt="Logo" width="50px"/></td>
                <td><h1>Gnome Defender</h1></td>
            </tr>
        </table>
    </div>

    {% if user.is_authenticated %}
        <section class="well">
            {% if data_index %}
                <h3>Today: {% now "SHORT_DATE_FORMAT" %}</h3>

                <h1>
                    {{ data_index.name }}
                </h1>


                <div class="btn-group">
                    <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown">
                        Other Gnomes <span class="caret"></span></button>
                    <ul class="dropdown-menu" role="menu">
                        {% for g in gnomes %}
                            <li><a href="{% url 'tracker:data_index' g.id %}">{{ g }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
                <br />

                {% autoescape off %}
                    {{ chart }}
                {% endautoescape %}
                <table class="table table-bordered table-condensed table-hover">
                    <thead>
                    <tr>
                        <td>Time</td>
                        <td>Temperature</td>
                        <td>Humidity</td>
                        <td>Light Level</td>
                        <td>Soil Moisture</td>
                        <td>Nutrient Level</td>
                    </tr>
                    </thead>

                    {% for dataset in data %}
                        {% if dataset.gnome_id == data_index.id %}
                            <tr>
                                <td>{{ dataset.time }}</td>
                                <td>{{ dataset.temperature }}</td>
                                <td>{{ dataset.humidity }}</td>
                                <td>{{ dataset.light_level }}</td>
                                <td>{{ dataset.soil_moisture }}</td>
                                <td>{{ dataset.nutrient_level }}</td>

                            </tr>
                        {% endif %}
                    {% endfor %}
                </table>
                <div>

                </div>


            {% else %}
                <p>No transactions are available</p>
            {% endif %}
        </section>
        <form action="{% url 'tracker:add_gnome' %}" method="get">
            <button class="btn btn-info" name="submit" type="submit">Register a new Gnome</button>
        </form>
    {% endif %}

    {% if user.is_authenticated %}
        <a class="btn btn-info" href="{% url 'tracker:logout' %}">Logout</a>
    {% else %}
        <a class="btn btn-info" href="{% url 'tracker:login' %}">Login</a>
    {% endif %}

</div>
</body>
</html>